In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import datetime

%matplotlib inline

In [2]:
df = pd.read_csv('../Data/amazon_clean_0512.csv', index_col=0)
df.head(2)

,name,price_current,price_original,reviews_number,seller,score,brand,Series,Color,height_cm,...,Tipo de conexión inalámbrica,usb_2,usb_3,Tipo de unidad óptica,os,battery_wh,battery_cells,weight_kg,Número de modelo del producto,since
0,"Huawei MateBook D 15"" - AMD Ryzen, Windows 10-...",14999.0%,nan%,156.0%,Huawei,4.7%,Huawei,Matebook D 15,Gris,0.2%,...,Bluetooth,2.0%,1.0%,None,Windows 10 Home,42.0%,2.0%,2.3%,6901443370764,2020-02-20
1,"Asus Laptop VivoBook 15.6"", Core i7, 8GB RAM,...",17999.0%,19999.0%,nan%,Asus,nan%,Asus,X512FA-BR1412T,NaN,nan%,...,NaN,2.0%,2.0%,Ninguno,Windows 10,1000.0%,1.0%,2.5%,NaN,2020-03-10

## Droping unuseful column to this case

In [3]:
df = df.drop(columns=[
    'Tecnología de la memoria', 
    'Tipo de unidad óptica', 
    'Tipo de conexión inalámbrica', 
    'Número de modelo del producto',
    'usb_3',
    'usb_2',
    'Series',
    'Color',
    'Descripción del disco duro',
    'Tipo de RAM para gráficos',
    'memory_interface',
    'gpu_interface',
    'resolution_x',
    'resolution_y',
    'gpu_ram',
    'Descripción de la tarjeta gráfica',
    'Coprocesador de gráficos',
    'Tipo de procesador'
    ])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            512 non-null    object
 1   price_current   220 non-null    float64
 2   price_original  41 non-null     float64
 3   reviews_number  469 non-null    float64
 4   seller          512 non-null    object
 5   score           469 non-null    float64
 6   brand           512 non-null    object
 7   height_cm       469 non-null    float64
 8   width_cm        468 non-null    float64
 9   screen_size_in  509 non-null    float64
 10  proc_brand      488 non-null    object
 11  proc_speed_ghz  448 non-null    float64
 12  ram             506 non-null    float64
 13  ram_type        368 non-null    object
 14  ram_max         342 non-null    float64
 15  memory          429 non-null    float64
 16  os              496 non-null    object
 17  battery_wh      508 non-null    float64
 18  battery_cells   491 non-null    float64
 19  weight_kg       512 non-null    float64
 20  since           512 non-null    object
dtypes: float64(14), object(7)
memory usage: 88.0+ KB

## Converting dtypes

In [5]:
df = df.convert_dtypes()

In [6]:
df.brand = df.brand.astype('category')

In [7]:
df.seller = df.seller.astype('category')

In [8]:
df.proc_brand = df.proc_brand.astype('category')

In [9]:
df.os = df.os.astype('category')

In [10]:
df.screen_size_in = df.screen_size_in.astype('category')

In [11]:
df.ram_type = df.ram_type.astype('category')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            512 non-null    string
 1   price_current   220 non-null    float64
 2   price_original  41 non-null     float64
 3   reviews_number  469 non-null    Int64
 4   seller          512 non-null    category
 5   score           469 non-null    float64
 6   brand           512 non-null    category
 7   height_cm       469 non-null    float64
 8   width_cm        468 non-null    float64
 9   screen_size_in  509 non-null    category
 10  proc_brand      488 non-null    category
 11  proc_speed_ghz  448 non-null    float64
 12  ram             506 non-null    Int64
 13  ram_type        368 non-null    category
 14  ram_max         342 non-null    Int64
 15  memory          429 non-null    Int64
 16  os              496 non-null    category
 17  battery_wh      508 non-null    Int64
 18  battery_cells   491 non-null    Int64
 19  weight_kg       512 non-null    float64
 20  since           512 non-null    string
dtypes: Int64(6), category(6), float64(7), string(2)
memory usage: 76.0 KB

## Detecting and deleting outliers

## Showing filtered data and exporting processed data

In [ ]:
# df.to_csv('../Data/amazon_filtered_' + datetime.datetime.today().strftime('%m%d') + '.csv')